<div class="container">
  <!-- <header-i18n [showLang]="false" class="langs"></header-i18n> -->
  <div class="background-ball">
    <img src="../../../assets/tmp/img/yofc-login-bg.png" alt="">
  </div>
  <div class="wrap">
    <div class="login-header">
        <img class="logo" src="../../../assets/tmp/img/yofc-cmp-logo.png">
    </div>

    <div class="login-content">
      <div class="top">
        <img class="logo" src="../../../assets/tmp/img/yofc-cmp-logo-2.png" alt="">
        <div class="desc">长飞云管理平台</div>
      </div>
      <router-outlet></router-outlet>
    </div>

    <global-footer class="login-footer">
      Copyright
      <i class="anticon anticon-copyright"></i> 2017-2019&#8197;长飞光纤股份有限公司版权所有
    </global-footer>
  </div>
</div>
