
<form nz-form [nzLayout]="'horizontal'" [formGroup]="changePasswordForm" (ngSubmit)="handleOk()">
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>输入旧密码</nz-form-label>
    <nz-form-control [nzSpan]="19">
      <input nz-input formControlName="oldPassword" placeholder="请输入旧密码" type="password" minlength="6" maxlength="20">
      <nz-form-explain *ngIf="changePasswordForm.get('oldPassword').dirty && changePasswordForm.get('oldPassword').errors">
        <ng-container *ngIf="changePasswordForm.get('oldPassword').hasError('required')">
          旧密码不能为空
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>输入新密码</nz-form-label>
    <nz-form-control [nzSpan]="19">
      <input nz-input formControlName="newPassword" placeholder="请输入新密码" type="password" minlength="6" maxlength="20">
      <nz-form-explain *ngIf="changePasswordForm.get('newPassword').dirty&&changePasswordForm.get('newPassword').errors">
        <ng-container *ngIf="changePasswordForm.get('newPassword').hasError('minlength')">
          新密码6-20字符
        </ng-container>
        <ng-container *ngIf="changePasswordForm.get('newPassword').hasError('required')">
          新密码不能为空
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>确认新密码</nz-form-label>
    <nz-form-control [nzSpan]="19">
      <input nz-input formControlName="reNewPassword" placeholder="请再次输入新密码" type="password" minlength="6" maxlength="20">
      <nz-form-explain *ngIf="changePasswordForm.get('reNewPassword').dirty&&changePasswordForm.get('reNewPassword').errors">
        <ng-container *ngIf="changePasswordForm.get('reNewPassword').hasError('matchOther')&&!changePasswordForm.get('reNewPassword').hasError('required')">
          两次密码输入不一致
        </ng-container>
        <ng-container *ngIf="changePasswordForm.get('reNewPassword').hasError('required')">
          确认密码不能为空
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

</form>


