
<form nz-form [nzLayout]="'Vertical'" [formGroup]="forgetPasswordForm" (ngSubmit)="handleOk()">
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired>用户名</nz-form-label>
    <nz-form-control [nzSpan]="null">
      <input nz-input formControlName="userName" placeholder="请输入用户名">
      <nz-form-explain *ngIf="forgetPasswordForm.get('userName').dirty && forgetPasswordForm.get('userName').errors">
        <ng-container *ngIf="forgetPasswordForm.get('userName').hasError('required')">
          登录名称不能为空
        </ng-container>
        <ng-container *ngIf="forgetPasswordForm.get('userName').hasError('duplicated')">
          The username is redundant!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired>邮箱地址</nz-form-label>
    <nz-form-control [nzSpan]="null">
      <input nz-input formControlName="email" placeholder="请输入邮箱地址" type="email">
      <nz-form-explain *ngIf="forgetPasswordForm.get('email').dirty&&forgetPasswordForm.get('email').errors">
        <ng-container *ngIf="forgetPasswordForm.get('email').hasError('email')">
          邮箱格式不正确
        </ng-container>
        <ng-container *ngIf="forgetPasswordForm.get('email').hasError('required')">
          邮箱不能为空
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired>需求描述</nz-form-label>
    <nz-form-control [nzSpan]="null">
      <textarea formControlName="description" nz-input rows="2" placeholder="请输入需求描述"></textarea>
      <nz-form-explain *ngIf="forgetPasswordForm.get('description').dirty&&forgetPasswordForm.get('description').hasError('required')">需求描述不能为空</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

</form>


