<div class="alain-default__header-logo">
  <div class="logo-text-inner">
    <em class="yf yf-logo-y"></em>
    <em class="yf yf-logo-o"></em>
    <em class="yf yf-logo-f"></em>
    <em class="yf yf-logo-c"></em>
    <em class="yf yf-logo-l"></em>
    <em class="yf yf-logo-o"></em>
    <em class="yf yf-logo-u"></em>
    <em class="yf yf-logo-d"></em>
  </div>
</div>
<div class="alain-default__nav-wrap">
  <ul class="alain-default__nav">
    <!-- Menu -->
    <li class="Menu">
      <div class="alain-default__nav-item" (click)="toggleCollapsedSidebar()">
        <i nz-icon type="menu-{{settings.layout.collapsed ? 'unfold' : 'fold'}}"></i>
      </div>
    </li>
    <!-- current project -->
    <li class="project">
      <nz-dropdown (nzVisibleChange)="change($event)">
          <a nz-dropdown class="title-link">
            <i class="yofc-icon yf yf-project"></i>
            <span>当前项目：{{currentProject}}</span>
          </a>
          <ul nz-menu *ngIf="!isFatherLadmin">
            <li nz-menu-item ngFor="userInfo.projectList">1st menu item</li>
          </ul>
          <!-- admin -->
          <ul nz-menu *ngIf="isFatherLadmin" (nzClick)="selectProject($event)">
            <!-- <li nz-menu-item *ngIf="region.projectList?.length === 0">{{region.regionDisplayName}}</li> -->
            <li nz-submenu *ngFor="let region of regionList" [ngClass]="{'hasNoArrow': region.projectList?.length === 0}">
              <span title>{{region.regionDisplayName}}</span>
              <ul>
                <li nz-menu-item *ngFor="let project of region.projectList" [nzSelected]="project.isSelected">{{project.name}}</li>
              </ul>
            </li>
          </ul>
        </nz-dropdown>
    </li>
  </ul>


  <ul class="alain-default__nav">
    <!-- 数据中心 -->
    <li class="default">
      <header-region></header-region>
    </li>
    <!-- 工单 -->
    <li class="default">
      <header-order></header-order>
    </li>
    <!-- 用户 -->
    <li class="default">
      <header-user [userName]="userInfo.userName"></header-user>
    </li>
    <!-- 当前时间 -->
    <li class="default date">
      <header-date></header-date>
    </li>
  </ul>
</div>
