<div class="alain-default__header-logo">
  <div class="logo-text-inner">
    <em class="yf yf-logo-y"></em>
    <em class="yf yf-logo-o"></em>
    <em class="yf yf-logo-f"></em>
    <em class="yf yf-logo-c"></em>
    <em class="yf yf-logo-l"></em>
    <em class="yf yf-logo-o"></em>
    <em class="yf yf-logo-u"></em>
    <em class="yf yf-logo-d"></em>
  </div>
</div>
<div class="alain-default__nav-wrap">
  <ul class="alain-default__nav">
    <!-- Menu -->
    <li class="Menu">
      <div class="alain-default__nav-item" (click)="toggleCollapsedSidebar()">
        <i nz-icon type="menu-{{settings.layout.collapsed ? 'unfold' : 'fold'}}"></i>
      </div>
    </li>
    <!-- current project -->
    <li class="project">
      <nz-dropdown (nzVisibleChange)="change($event)">
          <a nz-dropdown class="current-project-link">
            <i class="yofc-icon yf yf-project"></i>
            <span>当前项目：{{currentProject}}</span>
          </a>
          <ul nz-menu *ngIf="isFatherLadmin">
            <li nz-menu-item ngFor="userInfo.projectList">1st menu item</li>
          </ul>
          <!-- admin -->
          <ul nz-menu>
            <!-- <li nz-menu-item *ngIf="regionList.length == 0">3rd menu item</li> -->
            <li nz-submenu *ngFor="let region of regionList">
              <span title>{{region.regionDisplayName}}</span>
              <ul>
                <li nz-menu-item>3rd menu item</li>
                <li nz-menu-item>4th menu item</li>
              </ul>
            </li>
            <li nz-submenu nzDisabled>
              <span title>disabled sub menu</span>
              <ul>
                <li nz-menu-item>3rd menu item</li>
                <li nz-menu-item>4th menu item</li>
              </ul>
            </li>
          </ul>
        </nz-dropdown>
    </li>
  </ul>


  <ul class="alain-default__nav">
    <!-- 数据中心 -->
    <li>
      <!-- <header-region></header-region> -->
    </li>
    <!-- 工单 -->
    <li class="hidden-mobile">
      <!-- <header-order></header-order> -->
    </li>
    <!-- 用户 -->
    <li class="hidden-mobile">
      <!-- <header-user></header-user> -->
    </li>
    <!-- Settings -->
    <li class="hidden-mobile">
      <!-- <header-date></header-date> -->
    </li>
  </ul>
</div>
